.bestsellers-section{
    margin-top:40px;
}

.bestsellers-header{
    font-size: 24px;
    font-weight: 600;
    color:#000000;
    padding-top:37px;
}

.bestsellers-block-header{
    font-size: 18px;
    font-weight: 600;
    color:#45485B;
}

.bestsellers-block-subtitle{
    color:#90969D;
    font-size: 16px;
    font-weight:300;
}

.bestsellers-article{
    margin-top:25px;
    height:360px;
    position:relative;
    text-align:center;
    border:2px solid #90969D;
    padding:20px;
    background: white;
}

.bestsellers-block-img{
    padding-top:16px;
}

.bestsellers-hover-block{
    transition:0.5s;
    opacity:0;
    right:25px;
    left:25px;
    top:25px;
    bottom:25px;
    position:absolute;
}

.bestsellers-block-icons{
    font-size:18px;
    font-weight:800;
    margin-top:20px;
}

.bestsellers-icon{
    padding-right:10px;
}

.bestsellers-block-btn{
    width: 147px;
    height: 57px;
    color: black;
    background: white;
    border:2px solid #3B418D;
    transition:0.5s;
    font-weight: 400;
    margin: 32px 15px 20px 15px;
    white-space:nowrap;
}

.bestsellers-block-btn:hover{
    background: linear-gradient(90deg, #61BDF6 0%, #3B418D 100%);
    transition:0.5s;
    color:white;
}

.bestsellers-block-btn:hover ~ .bestsellers-img{
    color:white;
    transition:0.5s;
}

.bestsellers-block-btn:active{
    background: #3B418D;
    transition:0.5s;
}

@media (max-width:1200px){
    .bestsellers-section{
        padding:50px;
    }
}