.carousel-png{
    background-size:cover;
    min-height:500px;
    background:url(../images/carousel.png) no-repeat center;
    color:white;
    max-height:100%;
    width:100%;
}

.carousel-block{
    background: rgba(231, 235, 240, 0.7);
    backdrop-filter: blur(10px);
    color:black;
    width:496px;
    height:370px;
    margin:0 auto;
    text-align:center;
    padding:30px;
}

.carousel-block-subtitle{
    font-size:18px;
    font-weight: 400;
    text-align:left;
    line-height: 1.4;
    margin:20px 0 25px;
}

.carousel-block-button{
    margin-right:305px;
}

.carousel-block-header{
    font-weight:700;
    font-size:30px;
    margin-bottom: 20px;
}