.header-section {
    background: #76E7C7;
    height:50px;
    margin-bottom: 15px;
}

.header-list__item{
    height: 100px;
    text-align:center;
}

.header-link{
    color:#45485B;
}

.header-link:hover{
    color:#45485B;
}

.header-p-top{
    padding-top:13px;
}

.header{
    padding:0;
    margin:0;
}

.header-list {
    display: flex;
    font-size:16px;
    padding-bottom:40px;
    flex-flow: row nowrap;
    align-items: center;
    align-content: center;
    justify-content: space-between;
}


.header-block{
    width:200px;
    background: #A3F2DC;
    white-space: nowrap;
    text-align:center;
    height:50px;
    float: right;
}

.header-block-text{
   font-weight: 400;
}

.header-burger-section{
    display:none;
}


@media (max-width: 1079px){
    .header-section {
        height:60px;
    }

    .header-block{
        padding-top:6px;
        height:60px;
    }

    .header-p-top{
        padding-top:20px;
        font-size:14px;
        font-weight:600;
    }
}

@media (max-width: 900px){
    .d-n{
        display:none;
    }

    .header-burger-section{
        display:block;
    }
}


body {
    overflow-x: hidden;
}

#menuToggle {
    display: block;
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 1;
    -webkit-user-select: none;
    user-select: none;
}

#menuToggle input
{
    display: block;
    width: 40px;
    height: 32px;
    position: absolute;
    top: -7px;
    left: -5px;
    cursor: pointer;
    opacity: 0; /* hide this */
    z-index: 2; /* and place it over the hamburger */
    -webkit-touch-callout: none;
}

/*
 * MY STYLISCTICS
 */


.fas .fa-angle-right .fa-burger{
    width: 0;
    position: absolute;
    right: 123px;
    top: 142px;
}

.header-burger-logo{
    position: absolute;
    top: 38px;
    right: 180px;
}

.header-burger__button{
    width: 200px;
    height: 50px;
    background: #61BDF6;
    border: none;
    color: black;
    transition: 0.5s;
    font-weight: 400;
    margin: 10px 0 15px 55px;
}

.header-burger__button:active{
    background: linear-gradient(90deg, #61BDF6 0%, #3B418D 100%);
}


.header-burger__item{
    font-weight: 500;
    font-size:16px;
}

.border-t{
    border-top: 1px solid white;
}

.border-b{
    border-bottom:1px solid white;
}


/*NE MOE*/
#menuToggle span
{
    display: block;
    width: 33px;
    height: 4px;
    margin-bottom: 5px;
    position: relative;
    background: #1C0C2A;
    border-radius: 3px;
    z-index: 1;
    transform-origin: 4px 0px;
    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
    background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
    opacity 0.55s ease;
}



#menuToggle span:first-child
{
    transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2)
{
    transform-origin: 0% 100%;
}

/*
 * Transform all the slices of hamburger
 * into a crossmark.
 */
#menuToggle input:checked ~ span
{
    opacity: 1;
    transform: rotate(45deg) translate(-2px, -1px);
    background: #232323;
}

/*
 * But let's hide the middle one.
 */
#menuToggle input:checked ~ span:nth-last-child(3)
{
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
}

/*
 * Ohyeah and the last one should go the other direction
 */
#menuToggle input:checked ~ span:nth-last-child(2)
{
    opacity: 1;
    transform: rotate(-45deg) translate(0, -1px);
}

/*
 * Make this absolute positioned
 * at the top left of the screen
 */
#menu
{
    position: absolute;
    width: 400px;
    margin-top: 13px;
    padding-top: 90px;
    right: -100px;
    background: #45485B;
    list-style-type: none;
    -webkit-font-smoothing: antialiased;
    /* to stop flickering of text in safari */
    transform-origin: 0% 0%;
    transform: translate(100%, 0);
    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}

#menu li
{
    font-weight:300;
    padding: 10px 0 10px 20px;
    font-size: 18px;
    color:white;

}

/*
 * And let's fade it in from the left
 */
#menuToggle input:checked ~ ul
{
    transform: none;
    opacity: 1;
}

@media screen and (max-width: 768px) {
    #menu {
        transform: none;
        opacity: 0;
        transition: opacity 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
    }
}