.navigation-section-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navigation-section{
    background: #1C0C2A;
    margin-bottom:30px;
}

.navigation-list {
    display: flex;
    font-size:18px;
}

.navigation-list__item {
    color:white;
    font-weight: 400;
    padding-left:90px;
}

.navigation-link {
    position: relative;
    transition:0.5s;
    color:#E7EBF0;
    padding-top: 10px;
    white-space: nowrap;
}

.navigation-link:hover{
    color:#76E7C7;
    transition:0.5s;
}

.parallels-icon{
    margin-left:15px;
}

.navigation{
    padding:0;
    margin:0;
    display:flex;
}

li {
    list-style-type: none;
}

.navigation-header{
    color:#1C0C2A;
    width:200px;
    height:70px;
    background: #61BDF6;
    font-size:25px;
    font-weight: 600;
    text-align:center;
    padding-top:17px;
}

.p-angle-r{
    padding-right:10px;
}

.p-angle-r:hover{
    padding-right:10px;
}

.a-submenu-hover:hover{
    color:#3B418D;
    transition: 0.3s;
} .a-submenu-hover{transition: 0.3s;}

.navigation-list__button{
    width: 140px;
    height: 42px;
    background: #61BDF6;
    border:none;
    color:black;
    transition:0.5s;
    font-weight: 400;
}

.navigation-list__button:active{
    background: linear-gradient(180deg, #61BDF6 0%, #3B418D 100%);
    transition:0.5s;
}

.active-b:hover{
    background: linear-gradient(180deg, #61BDF6 0%, #3B418D 100%);
    transition:0.5s;
}

.active-b{
    transition:0.5s;
    position:relative;
}


.submenu-hover-f:hover{
    background: #90969D;
    color:#3B418D;
    transition:0.5s;
}
.submenu-hover-f{
    transition:0.5s;
    font-weight:normal;
    font-size:16px;
}

#menu__toggle {
    opacity: 0;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
nav ul:after {
    content: "";
    display: table;
    clear: both;
}
nav a {
    text-decoration: none;
    display: block;
    transition: .3s linear;
}
.topmenu > li {
    float: left;
    position: relative;
    border-left: 1px solid black;
}
.topmenu > li:first-child {border-left: 0;}
.topmenu > li > a {
    width:270px;
    height:70px;
    text-transform: uppercase;
    color: #FEFDFD;
    letter-spacing: 2px;
    background: #61BDF6;
    padding:25px 0 0 30px;
    transition:0.5s;
}

.topmenu .fa,
.submenu .fa {
    margin-left: 5px;
    color: inherit;
}
.submenu {
    position: absolute;
    z-index: 5;
    min-width: 270px;
    visibility: hidden;
    opacity: 0;
    transform-origin: 0% 0%;
    transform: rotateX(-90deg);
    transition: .3s linear;
}

.submenu-yellow{
    background: #eeeedd;
}

.submenu-grey{
    background: #E7EBF0;
}

.submenu li {position: relative;}
.submenu li a {
    color: #282828;
    padding: 10px 20px;
    font-size: 16px;
    font-weight:normal;
}
.submenu .submenu {
    position: absolute;
    left: 100%;
    top: -1px;
    transition: .3s linear;
}
nav li:hover > .submenu {
    transform: rotateX(0deg);
    visibility: visible;
    opacity: 1;
}

.fa-right-p{
    position:absolute;
    right:20px;
}



@media (max-width: 1550px){
    .navigation-list__item {
        padding-left: 50px;
    }
}

@media (max-width: 1180px){
    .navigation-section-content {
        flex-wrap: wrap;
        justify-content: center;
    }

    .navigation-list__item {
        padding-left: 0;
    }

    .navigation {
        width: 100%;
    }

    .navigation-list {
        width: 100%;
        flex-wrap: wrap;
        text-align: center;
    }
    .navigation-list__item {
        width: 100%;
        margin-top: 30px;
    }

    .navigation-list {
        padding-top:0;
        padding-right:0;
    }

    .navigation-section{
        padding:0;
    }

    .navigation-list__item {
        margin-left:0;
    }

    .parallels-header {
        padding-left: 0;
    }

    .fa-right-p{
        right:20px;
    }

    .topmenu > li > a {
        padding: 25px 0 0 0;
        text-align:center;
    }

    .navigation-list__button {
        width: 170px;
        height: 65px;
        background: #61BDF6;
        border: none;
        color: black;
        transition: 0.5s;
        font-weight: 400;
        margin-bottom:15px;
    }

    .active-b{
        margin-top:15px;
    }


}

@media (max-width: 900px){
    .navigation-section{
        display:none;
    }
}
