.payment-section{
    margin-top:60px;
}

.payment-two-columns{
    display:inline-block;
    width:100%;
}

.payment-methods-block{
    margin-top:25px;
    height:449px;
    width:330px;
    position:relative;
    text-align:center;
    border:2px solid #76E7C7;
    padding:20px;
}

.payment-item{
    margin-top:25px;
    height:200px;
    width:270px;
    position:relative;
    text-align:center;
    border:2px solid #76E7C7;
    padding:20px;
}

.payment-line{

}



.payment-m-t{
    margin-top:30px;
}

.payment-subtitle{
    font-size:16px;
    font-weight: 700;
    color:#3B418D;
    white-space: nowrap;
}

.payment-img{
    margin:0 auto;
}

.payment-two-columns{
    display:flex;
}

.payment-left-column{
    width:30%;
}

.payment-right-column{
    width:70%;
}

.payment-flex{
    display:flex;
}