body{
    font-family: 'Poppins', sans-serif;
    font-weight:500;
    line-height:1.3;
    color:#45485B;
}

a:hover{
    text-decoration: none;
}

a{
    color:#45485B;
}

.section-content {
    max-width:1440px;
    margin: 0 auto;
}

.btn-default{
    display: inline-block;
    padding: 20px 4.7px;
    margin: 40px 0 20px;
    min-width:170px;
    border:0;
    text-transform: uppercase;
    font-weight:700;
    transition:0.5s;
    color: #61BDF6;
    text-align:center;
    border-radius:10px;
}

.header-phone-img{
    width: 25px;
    height: 25px;
}

.c-white{
    color:white;
    font-size:16px;
    font-weight:500;
    transition:0.5s;
}

.c-white:hover{
    color:white;
}

.c-blue{
    color:#3B418D;
}

hr{
    border:1px solid #90969D;
}